<div class="jumbotron">
    <h1>WebApi - .Net framework 4.5</h1>
    <p class="lead"><b>Serviços para o cadastro de movimento manual</b></p>
    <ul>
        <li>Produto          -> rota raiz = servidor/api/Produto</li>
        <li>Produto Cosif    -> rota raiz = servidor/api/ProdutoCosif</li>
        <li>Movimento Manual -> rota raiz = servidor/api/MovimentoManual</li>
    </ul>
    <p class="lead"><b>Desenvolvimento</b></p>
    <ul>
        <li>Banco de dados SQL Server - versão Desenvolvedor</li>
        <li>Pattern de desenvolvimento - Repository</li>
        <li>D.I. com Ninject</li>
        <li>ORM - entity framework versão 6.4.4</li>
        <li>Sinqia - Dominio -> Biblioteca de classes Dominio [Abstract / Concrete / Entities ] - versão framework 4.5 </li>
        <li>Sinqia - WebApi  -> Template Asp.Net Web MVC 5</li>        
    </ul>
    <p class="lead"><b>Ferramentas de Desenvolvimento</b></p>
    <ul>
        <li>Visual Studio 2019 - Community</li>
        <li>Sql Managment Studio - versão 15</li>
    </ul>
    <p class="lead"><b>Repositorio arquivos</b></p>
    <ul>
        <li>Git - <a href=" https://github.com/Etyonamine/sinqia-16184-teste/tree/main/backend-aplicacao/Sinqia">Acessar o fonte da aplicação - Teste Net</a>
          <ul>
              <li>
                  Diretorio = backend-aplicacao/Sinqia
              </li>
          </ul>
        </li>

    </ul>

</div>
 
