
.container .mat-form-field + .mat-form-field {
  margin-left: 5px;
  margin-top: 5px;

}

table{
  margin-top:10px;
  width:100%;
  border: 1px solid black;
  border-collapse: collapse;

}
th, td {
  padding: 5px;
  border : 1px solid black;

}

mat-card-header{
  text-align: center;
  font-size: large;
  height: 30px;
  background-color: lightsteelblue;
  color: black;
  vertical-align: middle;
}
mat-card-subtitle{
  margin-left: 5px;
  margin-top: 5px;
}
mat-card-content{
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;


 // text-align: center;
}
div{
  width:100%;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}
.mat-form-field
{
  font-size: 14px;
  width: 49.5%;
}
