<mat-card>
  <mat-card-title>
    <mat-label><h2>Configuração do serviço webApi:</h2></mat-label>
  </mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span>
        Nome do atributo constante: API
      </mat-list-item>
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span>
        Caminho da url da webapi : src\environments\environment.prod.ts
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-content> </mat-card-content>
  <mat-card-title>
    <mat-label><h2>Ferramentas e versões utilizadas:</h2></mat-label>
  </mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span> Visual Studio Code: 1.56.2
      </mat-list-item>
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span> Angular CLI: 11.2.11
      </mat-list-item>
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span> Node: 14.16.1</mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span> OS: win32 x64</mat-list-item
      >
      <mat-list-item role="listitem"
      ><span class="material-icons"> done </span>Angular Material  - framework CSS: 11.2.12</mat-list-item
    >
    </mat-list>
  </mat-card-content>
  <mat-card-title>
    <mat-label><h2>Repositorio - Git</h2></mat-label>
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span>
        Nome do diretório : apresentacao/sinqia
      </mat-list-item>
      <mat-list-item role="listitem"
        ><span class="material-icons"> done </span>
        Fonte : <a href="https://github.com/Etyonamine/sinqia-16184-teste/tree/main/apresentacao/sinqia">Acesse os arquivos fontes</a>
      </mat-list-item>

    </mat-list>
  </mat-card-title>
</mat-card>
