
.footer{
  margin-bottom: auto;
  margin-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color:white;
  text-align: left;
}


mat-card{
  background-color:lightsteelblue;
  color: whitesmoke;
  padding:5px ;
}
mat-card-title{
  font-size: large;
}
